{% extends 'base.html.twig' %}

{% block title %}support{% endblock %}

{% block body %}
    - <a href="mailto:pxgf1telemetry@laposte.net">pxgf1telemetry@laposte.net</a> <br><br>
    - <a href="https://forums.codemasters.com/topic/56716-telemetry-software-pxg-f1-telemetry/">Codemaster forum post</a>
    <br>

    <h3>Installation instructions :</h3>
    <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda beatae consequatur, dolores eligendi est
        expedita fuga id in iusto maiores minus natus nihil nostrum optio pariatur placeat quos reiciendis vero.
    </div>
    <div>Ad beatae, fuga illo illum perferendis velit? A amet aperiam aut autem culpa dicta ea excepturi, exercitationem
        hic illum, impedit mollitia odio praesentium quidem quis quisquam, rerum sed tenetur vero?
    </div>
    <div>Adipisci architecto at autem beatae, commodi cupiditate deleniti, doloribus eaque et excepturi facere fugit hic
        id incidunt magni natus nemo neque nisi omnis, optio placeat reiciendis voluptas. Laudantium, molestias
        recusandae?
    </div>
{% endblock %}