
<img class = "icon" src="https://bitbucket.org/Fiingon/pxg-f1-telemetry.git/raw/master/Ressources/F1Telemetry.png" alt="icon">

<h1 class = "h1">PXG F1 Telemetry</h1>
<div class="intro">
    A free and open source telemetry software for Codemasters F1 games
</div>

